<!--
  Generated template for the SearchStationModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search Station</ion-title>
    <ion-buttons start>
    <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>
<ion-searchbar [(ngModel)]="station" (ionInput)="getStationList(station)" autocorrect="off" placeholder="Station Name/Code" [showCancelButton]="true" (ionCancel)="dismiss()"></ion-searchbar>
<ion-list *ngIf="searchResult">
	    <ion-item *ngFor="let station of searchResult.stations" tappable (click)="selectedStation(station.name,station.code)">
	      {{station.name}} ({{station.code}})
	    </ion-item>
	  </ion-list>
</ion-content>
