page-about-train {
.center{
	text-align: center;
}
.header .col {
  background-color:lightgrey;
}
.lg-bagnd{
  background-color:lightgrey;
  border: 1px solid #ccc;
}
.avail-clr{
	background-color:green;
}
.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}
.clr-green {
  font-weight: bold;
  color: green;
}
.p-font-size {
  font-size: 12px;
}
.avatr-txt {
  font-size: 2rem;

}
}
