<ion-header>
  <ion-navbar>
  <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
     <button ion-button icon-right color="light" (click)="logout()"><ion-icon name="power" ios="ios-power" md="md-power"></ion-icon></button>
       </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>

    <img src={{userPhotoUrl}}/>

    <ion-card-content>
      <ion-card-title>
        {{userName || "Name (Not added)"}}
      </ion-card-title>
     </ion-card-content>

   <!--  <ion-item>
     <ion-icon name='person' item-start style="color: #d03e84" ios="ios-person" md="md-person"></ion-icon>
     {{userName || "Name (Not added)"}}
   </ion-item> -->

    <ion-item>
      <ion-icon name='mail' item-start style="color: #55acee" ios="ios-mail" md="md-mail"></ion-icon>
      {{userEmail || "Email (Not added)"}}      
      <button *ngIf="!emailVerified" ion-button item-end round icon-end style="background-color: #d52f39; color: #fff" (click)="verify('email')">
        Verify
      </button>
      <button *ngIf="emailVerified" ion-button item-end round icon-end disabled="true" style="background-color: #2eb82e; color: #fff">
        Verified
      </button>
    </ion-item>

    <ion-item>
      <ion-icon name='phone-portrait' item-start style="color: #d03e84" ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
      {{UserData.phoneNumber || "Phone (Not added)"}}
      <!-- <button *ngIf="!emailVerified" ion-button item-end round icon-end style="background-color: #d52f39; color: #fff" (click)="verify()">
        Verify
      </button>
      <button *ngIf="emailVerified" ion-button item-end round icon-end disabled="true" style="background-color: #2eb82e; color: #fff">
        Verified
      </button> -->
    </ion-item>

  </ion-card>

</ion-content>