<ion-content padding class="bg">
	<ion-card>
			<img src="assets/imgs/seats-3.jpg"/>
			<ion-card-content>
				<ion-card-title>
					<ion-icon name="train" item-start large></ion-icon><b> {{trainData.trainName}} ({{trainData.trainNumber}})</b>
				</ion-card-title>
				<ion-item>
				<ion-icon name="grid" item-start normal color="primary"></ion-icon>
					<h2><b>Class</b></h2>
					<p>{{availabilityData.journey_class.name}} ({{availabilityData.journey_class.code? availabilityData.journey_class.code : trainData.trainClass}})</p>
				</ion-item>
				<ion-item>
				<ion-icon name="calendar" item-start normal color="5933cc"></ion-icon>
					<h2><b>Quota</b></h2>
					<p>{{availabilityData.quota.name}} ({{availabilityData.quota.code? availabilityData.quota.code : trainData.trainQuota}})</p>
				</ion-item>
				<ion-item>
				<ion-icon name="star" item-start normal color="secondary"></ion-icon>
					<h2><b>Timing / Total Duration</b></h2>
					<p>{{trainData.srcDepTime}} to {{trainData.dstArrvlTime}} / {{trainData.totalDuration}}</p>
				</ion-item>
				<ion-item>
				<ion-icon name="pin" item-start normal color="from"></ion-icon>
					<h2><b>From</b></h2>
					<p>{{trainData.fromStationName}} ({{trainData.fromStationCode}})</p>
				</ion-item>
				<ion-item>
				<ion-icon name="pin" item-start normal color="to"></ion-icon>
					<h2><b>To</b></h2>
					<p>{{trainData.toStationName}} ({{trainData.toStationName}})</p>
				</ion-item>
				<ion-card *ngIf="availabilityData.availability.length == '0'">
					Sorry!, This train may not be running at this day, Please choose another date.	 
					</ion-card>
				<div *ngFor="let avail of availabilityData.availability">					
					<ion-card>		
						<ion-item>
							<ion-avatar item-start>
								<img src="assets/imgs/train_icon.png">
							</ion-avatar>
							<h2><b>{{avail.date}}</b></h2>
							<p class="p-font-size">Status: <b>{{avail.status}}</b></p>							
						</ion-item>						  				
					</ion-card>
				</div>
			</ion-card-content>
			<ion-item-divider color="light"></ion-item-divider>
		<ion-item>			
			<ion-row no-padding>
				<ion-col>
					<button ion-button clear small color="danger" icon-start (click)="dismiss()">
						<ion-icon name='ios-close'></ion-icon>
						Close
					</button>
				</ion-col>
				<ion-col text-center>
					<button ion-button clear small color="danger" icon-start>
						<ion-icon name='ios-fastforward'></ion-icon>
						Next
					</button>
				</ion-col>
				<ion-col text-right>
					<button ion-button clear small color="danger" icon-start>
						<ion-icon name='share-alt'></ion-icon>
						Share
					</button>
				</ion-col>
			</ion-row>
		</ion-item>			
		</ion-card>
</ion-content>
