page-pnr-status {
.header .col {
  background-color:lightgrey;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}
.table-header{
	font-size: 7px;
}
.p-font-size{
	font-size: 12px;
}
}
