<ion-header>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button icon-only menuToggle="left">
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Pnr Status</ion-title>		
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<ion-input [(ngModel)]="pnrnumber" type="number" placeholder="Enter 10 digit Pnr number" required></ion-input>
		<button ion-button color="secondary" (click)="pnrCheck()" round small item-end>Check</button>
	</ion-item>

	<div *ngIf="statusResult.response_code == 200">	
		<ion-card>
			<!-- <img src="assets/imgs/seats-2.jpg"/> -->
			<ion-card-content>
				<ion-card-title>
					<ion-icon name="train" item-start large></ion-icon><b> {{statusResult.train.name}} ({{statusResult.train.number}})</b>
				</ion-card-title>
				<ion-item>
					<ion-icon name="grid" item-start normal color="primary"></ion-icon>
					<h2><b>Pnr Number</b></h2>
					<p>{{statusResult.pnr}}</p>
				</ion-item>
				<ion-item>
					<ion-icon name="calendar" item-start normal color="5933cc"></ion-icon>
					<h2><b>Date of journy</b></h2>
					<p>{{statusResult.doj}}</p>
				</ion-item>
				<ion-item>
					<ion-icon name="star" item-start normal color="secondary"></ion-icon>
					<h2><b>Class</b></h2>
					<p>{{statusResult.journey_class.name}} ({{statusResult.journey_class.code}})</p>
				</ion-item>
				<ion-item>
					<ion-icon name="pin" item-start normal color="from"></ion-icon>
					<h2><b>From</b></h2>
					<p>{{statusResult.from_station.name}} ({{statusResult.from_station.code}})</p>
				</ion-item>
				<ion-item>
					<ion-icon name="pin" item-start normal color="to"></ion-icon>
					<h2><b>To</b></h2>
					<p>{{statusResult.to_station.name}} ({{statusResult.to_station.code}})</p>
				</ion-item>
				<div *ngFor="let pstatus of statusResult.passengers">

					<ion-card>		
						<ion-item>
							<ion-avatar item-start>
								<img src="assets/imgs/profile_avatar.png">
							</ion-avatar>
							<h2><b>Passenger {{pstatus.no}}</b></h2>
							<p class="p-font-size">Current Status: <b>{{pstatus.current_status}}</b></p>
							<p class="p-font-size">Coach Position: <b>{{pstatus.coach_position}}</b></p>
							<p class="p-font-size">Booking Status: <b>{{pstatus.booking_status}}</b></p>
						</ion-item>						  				
					</ion-card>
				</div>
			</ion-card-content>
			<ion-item-divider color="light"></ion-item-divider>			
			</ion-card>		
	</div>
	<ion-fab right bottom *ngIf="statusResult.response_code == 200">
			<button ion-fab color="primary"><ion-icon name="share"></ion-icon></button>
			<ion-fab-list side="top">
				<button ion-fab><ion-icon name="logo-whatsapp" (click)="share('whatsapp')"></ion-icon></button>
				<button ion-fab><ion-icon name="send" (click)="share('sms')"></ion-icon></button>
			</ion-fab-list>
		</ion-fab>
</ion-content>